@use '../abstract' as var;

form[class="form-registration"] {
  width: var.$registrationFormWidth;
  height: var.$registrationFormHeight;

  margin: 0 auto;
  padding: var.$registrationFormPadding;

  background: var.$registrationFormBackground;
  border-radius: var.$registrationFormBorderRadius;
  border-right: var.$registrationFormBorder;
  box-shadow: var.$registrationFormShadow;

  display: flex;
  flex-direction: column;
  gap: var.$registrationFormGap;

  @media #{var.$tabletMediaWidth} {
    $registrationFormWidth: 70vw;
    width: $registrationFormWidth;
  }

  @media #{var.$phoneMediaWidth} {
    $registrationFormWidth: 85vw;
    width: $registrationFormWidth;
  }

  @media #{var.$phoneMediaWidth2} {
    $registrationFormPadding: 1.5rem 2rem;
    padding: $registrationFormPadding;
  }

  label {
    display: flex;
    flex-direction: column;

    font-size: var.$registrationFormLabelFontSize;
    color: var.$registrationFormLabelFontColor;

    padding: var.$registrationFormLabelPadding;
  }

  input {
    height: var.$registrationFormInputHeight;

    margin-top: var.$registrationFormInputMargin;
    padding: var.$registrationFormInputPadding;

    background: var.$registrationFormInputBackground;
    border-radius: var.$registrationFormInputBorderRadius;

    color: var.$registrationFormInputColor;
    font-weight: var.$registrationFormInputFontWeight;
    letter-spacing: var.$registrationFormInputLetterSpacing;
  }

  button[type="submit"] {
    width: var.$registrationFormButtonSubmitWidth;
    height: var.$registrationFormButtonSubmitHeight;

    margin: var.$registrationFormButtonSubmitMargin auto 0 auto;

    background: var.$registrationFormButtonSubmitBackground;

    color: var.$registrationFormButtonSubmitFontColor;
    font-size: var.$registrationFormButtonSubmitFontSize;

    border-radius: var.$registrationFormButtonSubmitBorderRadius;

    position: relative;
    &:active {
      top: 2px;
    }

    @media #{var.$phoneMediaWidth2} {
      $registrationFormButtonSubmitWidth: 70%;
      width: $registrationFormButtonSubmitWidth;
    }
  }
}

.form-registration__title {
  color: var.$registrationFormTitleColor;
  font-weight: bold;
  font-size: var.$registrationFormTitleFontSize;
  padding: var.$registrationFormTitlePadding;

  @media #{var.$mobileMediaWidth} {
    $registrationFormTitleFontSize: 2.25rem;
    font-size: $registrationFormTitleFontSize;
  }

  @media #{var.$phoneMediaWidth2} {
    $registrationFormTitleFontSize: 2rem;
    font-size: $registrationFormTitleFontSize;
  }
}