@use './abstract' as var;
@use './base/reset.scss';

@use './components/registration-form_component.scss';
@use './components/modal-validation_component.scss';

.wrapper {
  background: var.$wrapperBackground;
}

section[aria-label="Registration Form"] {
  width: 100vw;
  height: 100vh;

  padding: var.$registrationFormSectionPadding;
}